@model IEnumerable<EventTracker.Models.Event>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My upcoming events</h2>
<ul class="events voffset4">
    @foreach (var anEvent in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @anEvent.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @anEvent.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="host">
                    @anEvent.Venue
                </span>
                <span class="category">
                    @anEvent.Category.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit","Events", new {id = anEvent.Id})">Edit</a>
                    <a href="#">Delete</a>
                </div>
            </div>
        </li>
    }
</ul>
